$cases-color: #ffcc33;
$recover-color: #33cc99;
$deaths-color: #ff6666;

#chart {
  position: relative;
}

.chart {
  .updateTime {
    fill: #9F9F9F;
    font-size: 10px;
    font-style: italic;;
  }
  .overBar {
    fill: transparent;

    &:hover {
      fill: #f6f6f6;
    }
  }

  .cases {
    .caseBar {
      fill: $cases-color;
      pointer-events: none;
    }
  }

  .recover {
    .recoverBar {
      fill: $recover-color;
      pointer-events: none;
    }
  }

  .deaths {
    .deathsBar {
      fill: $deaths-color;
      pointer-events: none;
    }
  }
}

.chart-tooltip {
  position: absolute;
  display: none;
  z-index: 100;
  font-size: 12px;
  line-height: 1;
  background: rgba(255, 255, 255, .8);
  padding: 3px;
  text-align: right;
  top: 0;

  &.active {
    display: block;
  }

  .cases {
    color: $cases-color;
  }
  .recover {
    color: $recover-color;
  }
  .deaths {
    color: $deaths-color;
  }
}

.typeDescription {
  display: none;

  &.active {
    display: block;
  }
}

.territory-chart {
  $territory-stroke-color: #4693c8;
  position: relative;
  min-height: 300px;
  flex-grow: 1;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    background: lighten($territory-stroke-color, 30%);
  }

  .region {
    position: relative;
    stroke: $territory-stroke-color;
    stroke-width: .5px;
    stroke-linejoin: round;
    stroke-opacity: .5;

    &:hover {
      stroke: darken($territory-stroke-color, 50%);
      stroke-opacity: 1;
      z-index: 100;
    }
  }

  .progress {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    border-radius: 0;
  }
}

.map-tooltip {
  $line: 1.5rem;
  height: 2 * $line;
  line-height: $line;
}

.map-tooltip,
.region-description {
  .cases {
    color: $cases-color;
  }
  .recover {
    color: $recover-color;
  }
  .deaths {
    color: $deaths-color;
  }
}
