$cases-color: #ffcc33;
$recover-color: #33cc99;
$deaths-color: #ff6666;

#chart {
  position: relative;
}

.chart {
  .updateTime {
    fill: #9F9F9F;
    font-size: 10px;
    font-style: italic;;
  }
  .overBar {
    fill: transparent;

    &:hover {
      fill: #f6f6f6;
    }
  }

  .cases {
    .caseBar {
      fill: $cases-color;
      pointer-events: none;
    }
  }

  .recover {
    .recoverBar {
      fill: $recover-color;
      pointer-events: none;
    }
  }

  .deaths {
    .deathsBar {
      fill: $deaths-color;
      pointer-events: none;
    }
  }
}

.chart-tooltip {
  position: absolute;
  display: none;
  z-index: 100;
  font-size: 12px;
  line-height: 1;
  background: rgba(255, 255, 255, .8);
  padding: 3px;
  text-align: right;
  top: 0;

  &.active {
    display: block;
  }

  .cases {
    color: $cases-color;
  }
  .recover {
    color: $recover-color;
  }
  .deaths {
    color: $deaths-color;
  }
}

.typeDescription {
  display: none;

  &.active {
    display: block;
  }
}

.territory-chart {
  $territory-stroke-color: #4693c8;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    background: lighten($territory-stroke-color, 30%);
  }

  .region {
    position: relative;
    stroke: $territory-stroke-color;
    stroke-width: .5px;
    stroke-linejoin: round;
    stroke-opacity: .5;

    &:hover {
      stroke: darken($territory-stroke-color, 50%);
      stroke-opacity: 1;
      z-index: 100;
    }
  }
}

.map-tooltip {
  .cases {
    color: $cases-color;
  }
  .recover {
    color: $recover-color;
  }
  .deaths {
    color: $deaths-color;
  }
}

$chromatic-orange-gradient: linear-gradient(
  90deg,
  rgb(255, 245, 235) 0%,
  rgb(254, 232, 211) 10%,
  rgb(253, 216, 179) 20%,
  rgb(253, 194, 140) 30%,
  rgb(253, 167, 98) 40%,
  rgb(251, 141, 61) 50%,
  rgb(242, 112, 29) 60%,
  rgb(226, 86, 9) 70%,
  rgb(196, 65, 3) 80%,
  rgb(159, 51, 3) 90%,
  rgb(127, 39, 4) 100%

);
$chromatic-red-gradient: linear-gradient(
  90deg,
  rgb(255, 245, 240) 0%,
  rgb(254, 227, 214) 10%,
  rgb(253, 201, 180) 20%,
  rgb(252, 170, 142) 30%,
  rgb(252, 138, 107) 40%,
  rgb(249, 105, 76) 50%,
  rgb(239, 69, 51) 60%,
  rgb(217, 39, 35) 70%,
  rgb(187, 21, 26) 80%,
  rgb(151, 11, 19) 90%,
  rgb(103, 0, 13) 100%
  // rgb(255, 245, 240) 0%,
  // rgb(103, 0, 13) 100%
);

.chromatic-scale {
  position: absolute;
  height: 10px;

  &_color_orange {
    background: $chromatic-orange-gradient;
  }
  &_color_red {
    background: $chromatic-red-gradient;
  }
}
