$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.25;
$h3-font-size: $font-size-base * 1.15;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
$btn-focus-box-shadow: none;
$btn-focus-width: 0;

@import "~bootstrap/scss/bootstrap";


.screen {
  $nav-bar-height: 56px;
  $padding: 20px;

  min-height: 100vh;
  padding-top: $padding;
  padding-bottom: $padding;

  &_top {
    margin-top: -$nav-bar-height;
    padding-top: $nav-bar-height + $padding;
  }
}

.covid-background {
  background: url('./covids.jpg') no-repeat 50% 100%;
  padding-bottom: 300px;
}

.form-btn-group {
  padding-top: $input-btn-padding-y;
  padding-bottom: $input-btn-padding-y;
}

.hide-controls {
  .control {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (min-height: 480px) {
  .content {
    p {
      width: 70%;
    }
  }
}


#chart,
#period-offset-chart,
#region-chart {
  min-height: 250px;
  max-height: 350px;
  flex-grow: 1;
}

.chart {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.loading {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;

  .loaded &{
    display: none;
  }

  &-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-style: italic;
  }
}

label {
  cursor: pointer;
}

@import "./chart.scss";
